<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>I would like to continue as a(n):</h3>
    <br>
    {{#link-to "signup.organization" class="btn btn-secondary form-control"}}Organization{{/link-to}}
    <br><br>
    {{#link-to "signup.student" class="btn btn-secondary form-control"}}Student{{/link-to}}
  </div>
</div>
