
<div class="row">
  <small>{{#link-to "signup.organization"}}Back{{/link-to}}</small>
  <br>
  <form {{action "save" on="submit"}}>
    {{organization-form org=model}}
    <p id="success-text" style="color: green"></p>
    <button type="submit" class="btn btn-success">Save!</button>
  </form>
  <br>
  <button type="submit" class="btn btn-danger btn-sm" {{action "destroy"}}>Delete</button>
</div>
