
<div class="row">
  <div class="col-xs-12">
    {{#link-to "signup.organization" class="btn btn-primary"}}Back To Your Projects{{/link-to}}
    <br><br>
    <form {{action "save" on="submit"}}>
      {{organization-form org=model}}
      <p id="success-text" style="color: green"></p>
      {{#link-to "signup.organization" class="btn btn-primary"}}Back To Your Projects{{/link-to}}
      <button type="submit" class="btn btn-success">Save!</button>
      <button type="submit" class="btn btn-danger btn-sm" {{action "destroy"}}>Delete</button>
    </form>
    <br><br>
  </div>
</div>
<div id="successModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><font color="green">&#10004;</font> You're all set!</h4>
      </div>
      <div class="modal-body">
        <p>
          Your changes have been saved. Students will be able to sign up for your project immediately.
        </p>
      </div>
    </div>
  </div>
</div>
