<div class="container text-xs-center">
  <h1 class="text-danger">This isn't the url your looking for. </h1>
  <a href="https://aswwu.com/serviceday/" class="btn btn-success">Back to Serviceday</a>
  {{outlet}}
</div>
