<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h4 class="text-xs-center">Password Reset</h4>
    Email:<input name="resetEmail" class="form-control">
    <br>
    <p id="password-error" style="color:red;"></p>
    <button class="btn btn-primary" {{action "resetPassword" insert-newline='resetPassword'}}>Reset</button>
  </div>
  {{outlet}}
</div>
